html,
body {
    font-family: "Anek Latin", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("webpa/bg.webp");
    background-size: cover;
    /* Optional: adjust based on your design */
    background-attachment: fixed;
    /* Makes the background image fixed */
    overflow: auto;
    overflow-x: hidden;
    /* Allow vertical and horizontal scrolling */
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    body {
        background-image: url("webpa/bgm.webp");
        /* Set aspect ratio to 9:16 */
        background-size: cover;
        padding: 05px;
    }
}

/* Custom scrollbar */
body::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
    /* border-radius: 5px; */
    /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar-track {
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    background-color: rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* Rounded corners for the thumb */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add shadow */
    background-color: rgba(140, 140, 140, 0.308);
    /* Thumb color */
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

/* Hide scrollbar after 3 seconds */
body.hide-scrollbar::-webkit-scrollbar {
    scrollbar-width: thin;
}

body.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Hide thumb */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    backdrop-filter: blur(10px);
    /* Adjust blur strength as needed */
    background-color: rgba(51, 51, 51, 0.098);
    /* Adjust background color and opacity */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 10px;
}

header img {
    max-width: auto;
    height: auto;
    max-height: 45px;
    filter: brightness(0) grayscale(1) invert(1) sepia(1) saturate(1) hue-rotate(300deg);
}

#container {
    font-family: "Anek Latin", sans-serif;
    color: white;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(51, 51, 51, 0.098);
    margin: 0 auto;
}

/* Media query for larger screens (desktop) */
@media only screen and (min-width: 601px) {
    #container {
        max-width: 75%;
        /* Set width to 80% for desktop */
    }
}

/* Media query for smaller screens (mobile) */
@media only screen and (max-width: 600px) {
    #container {
        max-width: 100%;
        /* Set initial width to 100% for mobile */
    }
}

.container2 {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    /* Adjusted max-width */
    /* Subtracting 20px for the grid-gap from the parent container's width */
    padding: 0;
    /* Remove padding */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    grid-gap: 20px;
    max-height: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(140, 140, 140, 0.308) transparent;
    transition: scrollbar-width 0.3s ease;
    animation: hideScrollbar 4s forwards;
    /* Add margin-bottom to create space between last poster and disclaimer */
}


/* Add media query for smaller screens */
/* Adjust grid layout for smaller screens */
@media only screen and (max-width: 600px) {
    .container2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 85%;
        padding: 0;
        /* Remove padding */
        grid-gap: 15px;
        margin: 0 auto;
    }
}

.movie-poster {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(51, 51, 51, 0.098);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.movie-poster:hover {
    backdrop-filter: blur(10%);
    background-color: rgba(51, 51, 51, 0.498);
    box-shadow: 0px 32px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.movie-poster img {
    width: 100%;
    height: auto;
}

.movie-poster:hover img {
    filter: blur(10px);
}

.movie-poster:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    display: none;
}

.movie-poster:hover .movie-info {
    display: inline-block;
}

.movie-info h2 {
    margin: 0;
    font-size: 20px;
}

.movie-info p {
    margin: 5px 0 0;
    font-size: 13px;
    margin-bottom: 30px;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
    .movie-info h2 {
        font-size: 16px;
    }

    .movie-info p {
        font-size: 11px;
        margin-bottom: 15px;
    }
}

.flag {
    position: absolute;
    top: 10px;
    right: 10px;
}

.flag img {
    width: 30px;
    height: auto;
    border-radius: 2px;
}

.card-meta {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.badge {
    position: absolute;
    bottom: 5px;
    left: 7px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    color: #000;
    transition: filter 0.3s ease;
}

.duration {
    position: absolute;
    bottom: 3px;
    right: 7px;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 800;
    color: white;
    transition: filter 0.3s ease;
    text-align: end; /* Aligns the text to the right */
}

/* Media query for mobile screens */
@media (max-width: 600px) {
    .badge {
        bottom: 3px;
        left: 7px;
        padding: 1px 3px;
        font-size: 10px;
    }

    .duration {
        bottom: 3px;
        right: 7px;
        padding: 1px 3px;
        font-size: 12px;
        font-weight: 700;
    }

    .card-meta {
        padding: 0 5px;
    }
}

.movie-poster:hover .badge,
.movie-poster:hover .duration {
    filter: blur(03px);
}


.watermark {
    font-family: 'Titillium Web', sans-serif;
    position: baseline;
    bottom: 10px;
    /* Set distance from bottom of viewport */
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    z-index: 9999;
}

footer {
    font-family: 'Titillium Web', sans-serif;
    width: auto;
    backdrop-filter: blur(05px);
    /* Adjust blur strength as needed */
    background-color: rgba(51, 51, 51, 0.098);
    /* Adjust background color and opacity */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    color: White;
    text-align: center;
    font-size: 16px;
    padding: 8px 8px;
    font-weight: bold;
}

h1,
h2,
h3 {
    margin: 0 0 10px;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    color: white;
    font-size: 1.1rem;
}

a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

p {
    text-align: justify;
}

ul {
    list-style-type: square;
    /* Remove default bullet points */
    padding-left: 05;
    /* Remove default left padding */
    text-align: justify;
}

li {
    margin: 0 0 08px;
    margin-right: 05px;
}

/*Telegram floating button*/
.telegram-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.telegram-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0088cc;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 136, 204, 0.5);
    }

    80% {
        box-shadow: 0 0 0 14px rgba(0, 136, 204, 0);
    }
}

.telegram-icon svg {
    fill: #fff;
    width: 30px;
    height: 30px;
}

/* Remove glow effect from the F1 widget */
.f1widget-container {
    box-shadow: none !important;
}

.iframe-container {
    position: relative;
    margin-bottom: 08px;
    width: 100%;
    background-color: transparent;
}

.iframe-container iframe {
    border-radius: 10px;
    width: 100%;
    min-height: 235px;
    /* Minimum height as specified */
    border: 0cap;
}
